body{
    background-image: url(./fondos/tex2.png);
    color: chocolate;
}
.COLOR{
    background-color: whitesmoke;
}
.logo{
    width: 150px;
}
.mr{
    margin-right: 60px;
}
li a:hover{
    font-weight: bold;
}
.frase1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.6rem;
}
.frase2{
    font-family: 'MonteCarlo', cursive;
    font-size: 2.5rem;
}
.insta img{
    width: 25px;
}
.wapp img{
    width: 25px;
}
.wapp{
    display: flex;
    justify-content: right;
    align-items: center;   
}
.insta{
    display: flex;
    justify-content: left;
    align-items: center;
}
h3{
    font-family: 'Bebas Neue', cursive;
    color: rgb(8, 6, 1);
    font-size: 1rem;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
}

